$color-background = #151319
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #666
$color-meta = #666
$color-meta-code = #666
$color-link = #7985a5
$color-text = #eef0ef
$color-accent-1 = #7c778d
$color-accent-2 = #7985a5
$color-accent-3 = #61443e
// $color-accent-3 = #1a0a28
$color-quote = #ccffb6
$highlight = hexo-config("highlight") || "rainbow"
