$theme-green = #41dc48
$theme-red = #ba4639
$theme-purple = #8776ff
$theme-blue = #7985a5

$color-background = #151319
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = $theme-blue
$color-meta = $theme-blue
$color-meta-code = $theme-blue
$color-link = $theme-green
$color-text = #eef0ef
$color-accent-3 = $theme-red
$color-accent-4 = $theme-green
$color-accent-1 = $theme-purple
$color-accent-2 = $theme-blue
// $color-accent-3 = #1a0a28
$color-quote = #ccffb6
$highlight = hexo-config("highlight") || "rainbow"
